@font-face {
    font-family: Modern;
    src: url(BADABB__.TTF);

}

@font-face {
    font-family: Modern_Body;
    src: url(Majanan.ttf);

}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Modern';
  }
  
  p {
    font-family: 'Modern_Body';
    font-size: 40px;
  }
  